<a href="/">
    home
</a>

<div>
    <a href="{% url 'create-room' %}">
        form
    </a>
</div>

<form action=" {% url 'home' %}" method="GET">
    <!-- Não precisa do token porque método get-->
     <input type="text" name="q" placeholder="search room">
</form>



{% if request.user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
<p> Bem vindo, {{user.username}}</p> <!-- Variável de user é disponível em todas as páginas deviido o django fazer o login-->
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}


<hr>
